main{
 display: flex;
 flex-direction: row;
 gap: 10px;

}
 

body{
    background-color: rgb(166, 204, 191);
}
section{
 box-sizing: border-box;
 background-color: teal;
 width: 250px;
 height: auto;
 padding: 10px;
 border: 5px solid black;
 text-align: center;
}
